caption {
    background-color: #fdfcf3;
    border: 1px solid #e7c157;
    padding-top: 1em;
    margin-top: 1em;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr th{
    background-color: #dddddd;
    color: #333333;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    text-align: left;
    padding: 12px 15px;
}

.content-table tbody, tr{
    border-bottom: 1px solid #dddddd ;
}

.content-table tbody tr:nth-child(even) {
    background-color: #e4ebf2;
    /*color: #5c85d6;*/
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid darkred;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.content-table tbody tr:hover,
.content-table tfoot tr:hover {
    background-color: cornflowerblue;
}

.content-table tbody td:hover,
.content-table tfoot td:hover {
    background-color: gold;
}